@import './variables';


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {

    main {
        width: 23.5rem;
        min-height: 100vh;
    }
    
    #app {
        width: 23.5rem;
       // height: 100vh;
        background: rgba(56, 132, 109, 1);

        position: relative;


    }

    #about {
        //width: 23.5rem;
        //height: 100vh;
        background: rgba(243, 228, 225, 1);

        position: relative;

        display: flex;
        flex-direction: column;
        justify-content: space-evenly;

        h1 {
            text-align: left;
            margin-top: 10rem;
            margin-left: 2rem;
        }

        p {
            text-align: left;
            margin: 2rem;

        }
        //p:nth-child(7){
        //    text-align: center;
        //    margin: 0rem;
        //}

        .profile-img {
            width: 74px;
            height: 74px;

            margin-top: 2.5rem;

            align-self: center;
        }

        h3 {
            font-size: 22px;
        }

        .profile-info {
            margin: .25rem 0 10rem 0;
            text-align: center;
        }
    }
}













/*
body {
    #app {
        max-width: 1000px;
        margin: 1rem auto;
        header{
            background: turquoise;
            display: flex;
            justify-content: space-between;
            align-items: center;
            height: 3rem;
        }
        main {
            display: grid;
            gap: 1rem;
            grid-template-columns: repeat(3, 1fr);

            .product {
                background: white;
                box-shadow: $boxShadow;

                figure {
                    background: #ddd;
                    @include reset-mp;
                    display: flex;
                    justify-content: center;
                    align-items: flex-end;
                    padding: 2rem 1rem 0 1rem;

                    img {
                        width: 100%;
                    }
                }
            }
        }
    }
} 
*/